[Desktop Entry]
Type=Application
Name=THE SYSTEM
Exec=system-sl
Terminal=false
Icon=system-sl
Categories=Utility;
Comment=Arise, Player.
StartupNotify=true